{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure_text }}</h1>
    <p class="mb-4">Найдено {{ number_tours }} {{ text_tour }}, от {{ min_price }} до {{ max_price }} и от {{ min_nights }} ночей до
      {{ max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id_tour, i_tour in departures_tour.items %}
        <div class="col-4">
          <div class="card mb-4">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="card-img-top embed-responsive-item" src="{{ i_tour.picture }}" alt="" />
            </div>
            <div class="card-body">
              <h2 class="h5 card-title">{{ i_tour.title }} {{ i_tour.stars }}★</h2>
              <p class="card-text">{{ i_tour.description }}</p>
              <a href="{% url 'tour' id_tour %}" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
